<h1>New Note</h1>

<form action="/create_note">
  <div>
    <label for="student_id">student_id</label><br />
    <input id="student_id" name="student_id" type="text" />
  </div>
  <div>
    <label for="contents">contents</label><br />
    <input id="contents" name="contents" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

